# The base accumulo image to use for all components.
accumuloImage: 347653770938.dkr.ecr.us-east-2.amazonaws.com/accumulo-s3:endpoint
imagePullPolicy: Always

# Select anitAffinity as either hard or soft, default is hard
antiAffinity: "soft"

s3:
  bucket: "accumulo"
  key:
  secret:
#  endpoint: http://192.168.58.87:9000
#  region: us-east-2

accumulo:
  # run the init script on startup
  init: false
  gc:
    resources:
      requests:
        memory: "500Mi"
        cpu: 0.5
    javaOpts:
      memory: "'-Xmx385m' '-Xms385m'"
  manager:
    replicas: 1
    resources:
      requests:
        memory: "5Gi"
        cpu: 2
    javaOpts:
      memory: "'-Xmx4g' '-Xms4g'"
  monitor:
    resources:
      requests:
        memory: "1Gi"
        cpu: 1
    javaOpts:
      memory: "'-Xmx768m' '-Xms768m'"
  tserver:
    replicas: 1
    resources:
      requests:
        memory: "2Gi"
        cpu: 2
    javaOpts:
      memory: "'-Xmx1536m' '-Xms1536m'"
  #volumes: "accS3nf://accumulo.s3/accumulo,accS3mo://accumulo.s3/accumulo-wal"
  volumes: "accS3nf://accumulo/accumulo,accS3nf://accumulo/accumulo-wal"
  username: "root"
  passwd: "root"
  instance_name: "s3"

zookeeper:
  host: zookeeper-0.zookeeper-headless.accumulo.svc.cluster.local,zookeeper-1.zookeeper-headless.accumulo.svc.cluster.local,zookeeper-2.zookeeper-headless.accumulo.svc.cluster.local
  port: 2181
  containerPort: 2888
  electionPort: 3888
  replicas: 3
