apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ template "accumulo.fullname" . }}-manager
  labels:
    app: {{ template "accumulo.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: {{ template "accumulo.fullname" . }}-manager
spec:
  selector:
    matchLabels:
      app: {{ template "accumulo.name" . }}
      component: {{ template "accumulo.fullname" . }}-manager
  serviceName: {{ template "accumulo.fullname" . }}-manager-svc
  replicas: {{ .Values.accumulo.manager.replicas }}
  template:
    metadata:
      labels:
        app: {{ template "accumulo.name" . }}
        release: {{ .Release.Name }}
        component: accumulo-manager
    spec:
      dnsConfig:
        searches:
        - {{ template "accumulo.fullname" . }}-manager-svc.accumulo.svc.cluster.local
        - {{ template "accumulo.fullname" . }}-ts-svc.accumulo.svc.cluster.local
      affinity:
      terminationGracePeriodSeconds: 0
      initContainers:
      - name: accumulo-init
        image: {{ .Values.accumuloImage }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        env:
        - name: AWS_ACCESS_KEY_ID
          value: {{ .Values.s3.key }}
        - name: AWS_SECRET_ACCESS_KEY
          value: {{ .Values.s3.secret }}
        command:
        - "/bin/bash"
        - "/tmp/accumulo-config/init.sh"
        resources:
          requests:
            memory: 256Mi
            cpu: 0.5
        volumeMounts:
        - name: accumulo-config
          mountPath: /tmp/accumulo-config
      containers:
      # manager
      - name: accumulo-manager
        image: {{ .Values.accumuloImage }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        livenessProbe:
          tcpSocket:
            port: 9999
          initialDelaySeconds: 15
          periodSeconds: 60
          failureThreshold: 2
        env:
        - name: AWS_ACCESS_KEY_ID
          value: {{ .Values.s3.key }}
        - name: AWS_SECRET_ACCESS_KEY
          value: {{ .Values.s3.secret }}
        command:
        - "/bin/bash"
        - "/tmp/accumulo-config/manager.sh"
        resources:
{{ toYaml .Values.accumulo.manager.resources | indent 10 }}
        volumeMounts:
        - name: accumulo-config
          mountPath: /tmp/accumulo-config
      # monitor
      - name: accumulo-monitor
        image: {{ .Values.accumuloImage }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        livenessProbe:
          tcpSocket:
            port: 9995
          initialDelaySeconds: 15
          periodSeconds: 60
          failureThreshold: 2
        env:
        - name: AWS_ACCESS_KEY_ID
          value: {{ .Values.s3.key }}
        - name: AWS_SECRET_ACCESS_KEY
          value: {{ .Values.s3.secret }}
        command:
        - "/bin/bash"
        - "/tmp/accumulo-config/monitor.sh"
        resources:
{{ toYaml .Values.accumulo.monitor.resources | indent 10 }}
        volumeMounts:
        - name: accumulo-config
          mountPath: /tmp/accumulo-config
      # garbage collector
      - name: accumulo-gc
        image: {{ .Values.accumuloImage }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        livenessProbe:
          tcpSocket:
            port: 9998
          initialDelaySeconds: 15
          periodSeconds: 60
          failureThreshold: 2
        env:
        - name: AWS_ACCESS_KEY_ID
          value: {{ .Values.s3.key }}
        - name: AWS_SECRET_ACCESS_KEY
          value: {{ .Values.s3.secret }}
        command:
        - "/bin/bash"
        - "/tmp/accumulo-config/gc.sh"
        resources:
{{ toYaml .Values.accumulo.gc.resources | indent 10 }}
        volumeMounts:
        - name: accumulo-config
          mountPath: /tmp/accumulo-config
      volumes:
      - name: accumulo-config
        configMap:
          name: accumulo-configmap